.headers{
	width:100%;
	h3{
		height:.44rem;
		line-height:.44rem;
		text-align:center;
		background:#EC3587;
		color:#fff;
		font-size:.3rem;
	}
}
.container{
	width:100%;
	
	ul{
		
		border-top:36px solid #F0F0F0;
		li{
			border-bottom:1px solid #F0F0F0;
			background:#fff;
			height:.85rem;
			line-height:.85rem;
			color:#7D7D7D;
			img:first-child{
				width:.4rem;
				margin-left:5%;
			}
			img:last-child{
				width:.1rem;
				margin-left:44%;
			}
			
			span{
				font-size:.24rem;
				margin-left:2%;
			}	
			
		}
		li:nth-child(2){
			img:last-child{
				width:.1rem;
				margin-left:50%;
			}
		}
	}
}