.package{
	@include flexbox();
	@include flex-direction(column);
	height:100%;
	width:100%;
	.headers{
		width:100%;
		background:#EC3587;
		img{
			margin-left:.15rem;
			width:.15rem;
			}
			line-height:.44rem;
		span{
			text-align:center;
			font-size:.24rem;
			color:#fff;
			margin-left:30%;
		}
			
			
	}
	.wrapper{
		@include flex(1);
		width:100%;
		.h35{
			width:100%;
			height:.35rem;
		}
		.form1{
			background:#fff;
			input{
				width:100%;
				height:.7rem;
				line-height:.7rem;
				border:none;
				padding-left:.90rem;
				@include box-sizing(border-box);
				border-bottom:1px #EBEBEB solid;
				color: #ED3C8B;
				text-shadow: 0px 0px 0px #000;
				-webkit-text-fill-color: transparent;
			}
			.inp1{
				background:url("/yidejia/images/account.png") no-repeat 25px 25px;
			}
			.pwd1{
				background:url("/yidejia/images/password.png") no-repeat 25px 25px;
			}
		}
		.state{
			@include flexbox();
			width:100%;
			height:.75rem;
			background:#fff;
			line-height:.75rem;
			@include box-sizing(border-box);
			font-size:.25rem;
			color:#CBCBCB;
			span:first-child{
				@include flex(1);
				text-align:left;
				padding-left:.2rem;
			}
			span:last-child{
				@include flex(1);
				text-align:right;
				padding-right:.2rem;
			}
		}
		.h45{
			width:100%;
			height:.45rem;
			background:#F0F0F0
		}
		.form2{
			background:#fff;
			p{
				width:100%;
				height:.7rem;
				line-height:.7rem;
				padding-left:.20rem;
				img{
					margin-left:70%;
				}
			}
		}
		.btn{
			margin-top:.5rem;
			input{
				@include box-sizing(border-box);
				width:100%;
				text-align:center;
				height:.7rem;
				background:#EC3587;
				color:#fff;
				padding-left:.20rem;
				padding-right:.20rem;
				border:none;
			}
		}
	}
}