@charset "utf-8";

@import "../lib/core/reset";

@import "./module/index.scss";
@import "./module/home";
@import "./module/at-around";
@import "./module/service";
@import "./module/shoppingcart";
@import "./module/market";
@import "./module/login";
@import "./module/register";
@import "./core/swiper-3.3.1.min.css";

// layout
spa-app {
    position: absolute;
    overflow: hidden;
}

spa-view {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #eceef0 !important;
    @include flexbox(flex);
    @include flex-direction(column);
}